/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.kala {
	color: red;
}
.kala::before {
	content: 'English ';
}
.kala::after {
	content: ' bangla ';
}
.mala {
	color: black;
}
.mala::before {
	content: ' arbi ';
}
.kala::after {
	content: ' hindu ';
}
.tara {
	color: blue;
}
.tara::before {
	content: ' tara farshi ';
}
.tara::after {
	content: ' tamil nagorik ';
}
