* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  background: #000000;
  padding: 20px;
  border-radius: 10px;
}
.calculator form input {
  border: 0;
  outline: 0;
  width: 88px;
  height: 70px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(255, 255, 255, 0.2);
  background: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.calculator input:hover {
  background: rgb(53, 192, 230);
}
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: 5px solid rgb(17, 203, 240);
}
form input.equal {
  width: 145px;
}

form input.op {
  color: #33ffd8;
  width: 65px;
}
.name {
  text-align: center;
  color: white;
  margin-top: -5px;
  margin-left: 5px;
}
