/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to right, red, aqua, yellow);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.pain {
	width: 30%;
	height: 20%;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: orange;
	color: antiquewhite;
	border: 5px solid black;
	font-style: italic normal bolder 22px White;
	box-shadow: 20px solid green;
	border-radius: 8px;
	transition: 0.5s;
	cursor: pointer;
}
.pain:hover {
	background: rgb(33, 54, 2);
	color: aqua;
	border: 5px solid wheat;
}
